<link rel="stylesheet" href="../static/css/index.css">
    <!-- 轮播图开始 -->
    <div class="banner">
        <!-- 图片 -->
        <div class="img-box">
            <ul class="imgList">
                <li class="img">
                    <img src="../static/image/index-banner-1.jpg" alt="">
                </li>
                <li class="img">
                    <img src="../static/image/index-banner-2.jpg" alt="">
                </li>
            </ul>
        </div>
        <!-- 按钮 -->
        <button class="btn btn-left">
            <img src="../static/image/index-buttonL.png" alt="">
        </button>
        <button class="btn btn-right">
            <img src="../static/image/index-buttonR.png" alt="">
        </button>
        <!-- 滑块 -->
        <div class="box">
            <div class="boxs active"></div>
            <div class="boxs"></div>
        </div>
    </div>
    <!-- 轮播图结束 -->
    <!-- 内容开始 -->
    <div class="contant">
        <div class="container">
            <!-- 标题 -->
            <div class="row">
                <div class="title">
                    <span class="title-top">天籁之音，魔声耳机</span>
                    <br>
                    <span class="title-bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">听觉的盛宴，闲适的享受。隔绝人世的喧嚣，倾听内心的声音。</span>
                </div>
            </div>
            <!-- 服务 -->
            <div class="row">
                <ul class="serve col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <li class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 animated">
                        <img src="../static/image/index-tab1.png" alt="">
                        <br>
                        <strong>头戴式耳机</strong>
                        <div class="line">
                            <div class="line-md"></div>
                        </div>
                        <span>头戴式耳机，它是由两部分组成，信号发射器和带有信号接收和放大装置的耳机(通常是动圈式的)。声场好并且很舒适，戴在耳朵外面不会擦伤耳道。可听更长时间。</span>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 animated">
                        <img src="../static/image/index-tab2.png" alt="">
                        <br>
                        <strong>蓝牙耳机</strong>
                        <div class="line">
                            <div class="line-md"></div>
                        </div>
                        <span>蓝牙耳机，将蓝牙技术应用在免持耳机上，让使用者可以免除恼人电线的牵绊，自在地以各种方式轻松通话。</span>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 animated">
                        <img src="../static/image/index-tab3.png" alt="">
                        <br>
                        <strong>耳挂式耳机</strong>
                        <div class="line">
                            <div class="line-md"></div>
                        </div>
                        <span>耳挂式耳机，即为耳机两个单元之间起连接作用与佩戴固定作用的横梁予以取消，配以精美的挂钩使之挂在耳朵上的设计。</span>
                    </li>
                    <li class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 animated">
                        <img src="../static/image/index-tab4.png" alt="">
                        <br>
                        <strong>入耳式耳机</strong>
                        <div class="line">
                            <div class="line-md"></div>
                        </div>
                        <span>入耳式耳机，它是一种用在人体听觉器官内部的耳机。它方便携带，以胶质塞头插入耳道内，比普通耳机有着更好的密闭性，大大增加了耳机的表现效果。</span>
                    </li>
                </ul>
            </div>
            <!-- 标题2 -->
            <div class="row">
                <div class="title2">
                    <span class="title2-top">一次选择，一生爱戴</span>
                    <img src="../static/image/index-title.png" alt="" class="car  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
            <!-- 公司简介 -->
            <div class="row">
                <div class="introduce col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="int-image col-lg-4 col-md-4 col-sm-10 col-xs-10 animated">
                        <img src="../static/image/index-content-1.png" alt="">
                    </div>
                    <!-- 简介内容 -->
                    <div class="int-text col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="text-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="aboutus.html">
                                <div class="int">关于我们</div>
                            </a>
                            <a href="aboutus.html">
                                <div class="more">MORE+</div>
                            </a>
                        </div>
                        <span>你想听到世界上最美妙的声音吗？你想沉寂在音乐的梦乡吗？拥有魔力的而神奇的耳机，就能满足你这“不可能”的愿望。魔音耳机，让你在音乐的世界里翱翔。</span>
                        <br>
                        <br>
                        <span>总有一种声音，是让你想听清楚它的每一个能痴迷你疯狂你的细节。可是，普通的耳机不给力怎么办？别着急，魔声耳机解决你所有的烦恼。</span>
                        <br>
                        <br>
                        <span>他的歌声够立体，他的节奏够震撼，想要听吗？带上魔声耳机一起体验吧！</span>
                        <br>
                        <br>
                        <span>天籁之声源于魔声，让您的耳中生风；妙语倾听，掌握在自己手中。</span>
                    </div>
                </div>
            </div>
            <!-- 美容知识 -->
            <div class="row">
                <div class="knowledge col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="int-text col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="text-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="new.html">
                                <div class="int">养护知识</div>
                            </a>
                            <a href="new.html">
                                <div class="more">MORE+</div>
                            </a>
                        </div>
                        <ul class="know">
                            <a href="">
                                <li class="list">
                                    <span>耳机养护基本常识</span>
                                    <span class="right">2019-9-1</span>
                                </li>
                            </a>
                            <a href="">
                                <li class="list">
                                    <span>耳机保养的生活小窍门</span>
                                    <span class="right">2019-9-1</span>
                                </li>
                            </a>
                            <a href="">
                                <li class="list">
                                    <span>耳机保养有诀窍</span>
                                    <span class="right">2019-9-1</span>
                                </li>
                            </a>
                            <a href="">
                                <li class="list">
                                    <span>耳机保养的10条建议</span>
                                    <span class="right">2019-9-1</span>
                                </li>
                            </a>
                            <a href="">
                                <li class="list">
                                    <span>耳机日常维护技巧总结</span>
                                    <span class="right">2019-9-1</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <!-- 图片 -->
                    <div class="know-image col-lg-4 col-md-4 col-sm-9 col-xs-10 animated">
                        <img src="../static/image/index-content-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->
    <!-- 底部 -->
    <div class="bar">
        <div class="bar-b">
            <div class="address">
                <div>
                    <strong>一店地址</strong>
                </div>
                <div>
                    <span>门店地址：上海市松江区佘山林荫大道18号</span>
                </div>
                <p>
                    <span>预约电话:</span>
                    <strong>400-562-6654 </strong>
                </p>
                <p>
                    <strong class="s">营业时间：</strong>
                </p>
                <p>
                    <span>周一 ~周五：上午9:30-下午8:00</span>
                </p>
                <p>
                    <span>周六、周日：上午10:00-下午9:00</span>
                </p>
            </div>
            <div class="address">
                <div>
                    <strong>一店地址</strong>
                </div>
                <div>
                    <span>门店地址：上海市松江区佘山林荫大道18号</span>
                </div>
                <p>
                    <span>预约电话:</span>
                    <strong>400-562-6654 </strong>
                </p>
                <p>
                    <strong class="s">营业时间：</strong>
                </p>
                <p>
                    <span>周一 ~周五：上午9:30-下午8:00</span>
                </p>
                <p>
                    <span>周六、周日：上午10:00-下午9:00</span>
                </p>
            </div>
            <div class="address">
                <div>
                    <strong>一店地址</strong>
                </div>
                <div>
                    <span>门店地址：上海市松江区佘山林荫大道18号</span>
                </div>
                <p>
                    <span>预约电话:</span>
                    <strong>400-562-6654 </strong>
                </p>
                <p>
                    <strong class="s">营业时间：</strong>
                </p>
                <p>
                    <span>周一 ~周五：上午9:30-下午8:00</span>
                </p>
                <p>
                    <span>周六、周日：上午10:00-下午9:00</span>
                </p>
            </div>
        </div>
        <div class="icon">
            <i class="iconfont icon-qq"></i>
            <i class="iconfont icon-weixin1"></i>
            <i class="iconfont icon-email"></i>
            <i class="iconfont icon-dianhua1"></i>
            <i class="iconfont icon-face-book"></i>
            <div>
                <span>版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</span>
            </div>
        </div>
    </div>
    <!-- 小于992的底部 -->
    <a href="">
        <div class="dbbottom">
            在线预约
        </div>
    </a>
        <div class="zdJiantou">
            <a href="">
                <i class="iconfont icon-fanhuidingbu1"></i>
            </a>
        </div>

<script src="../static/js/index.js"></script>